<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{users.username}}</title>
  </head>
  <body>
    <h2>{{user.username}} Dashboard</h2>
    <a href="/users/{{user.id}}/edit">Edit</a>
  </body>
</html>
